.chatscreen{
    margin-top: 61px;
    padding: 0px;
    height: 90vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.chatscreen-left{
    border-right: 1px solid rgba(177, 177, 177, 0.285);;
    width: 30%;
}
.chatscreen-right{
    width: 70%;
    background-color: rgb(233, 233, 233);
}
.chat-header{
    background-color: white;
    padding: 20px 30px 10px;
    border-bottom: 1px solid rgba(177, 177, 177, 0.285);;
}
.chat-header > h4{
    margin: 0px !important;
}
.groups{
    background-color: white;
    padding: 10px;
    overflow: auto;
    min-height: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 15px;
}
.group{
    border: 1px solid rgba(177, 177, 177, 0.285);
    border-radius: 10px;
    padding: 5px 14px;
    background-color:  rgb(233, 233, 233);
    transition: .25s ease;
}
.group:hover{
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}
.group > h5 {
    margin: 0px !important;
    font-size: 18px;
    font-weight: 500;
}
.group > p{
    margin-bottom: 3px !important;
}
.group > p > span {
    font-weight: 500;
    font-size: 15px;
}


.chatbox{
    overflow: auto;
    min-height: 82%;
    max-height: 82%;
    padding: 15px 20px 30px;
}
.send-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 0px 20px;
}
.send-box > input{
    padding: 10px 10px;
    border-radius: 5px;
    background-color: white;
}
.send-box > i {
    font-size: 25px;
    color: var(--logoColor);
    cursor: pointer;
    padding: 5px;
}