:root{
    --blackColor: #252422;
    --logoColor: #deb843;
    --logoDarkColor: #cda93e;
    --primaryColor: #51cbce;
    --dangerColor: #f1926e;
    --successColor: #7ed6a5;
    --warningColor: #fccf71
}

.btn{
    background-color: var(--logoColor) !important;
}
.btn:hover,
.btn:active{
    background-color: var(--logoDarkColor) !important;
}
.btn-danger{
    background-color: var(--dangerColor) !important;
}

.active,
.active > a > i{
    color: var(--logoColor) !important
}

.btn-primary{
    /* background-color: var(--blackColor) !important; */
    font-size: 10px !important;
}


thead{
    color: var(--logoColor) !important
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* for cross icon */
.card-header > svg{
    color: var(--blackColor);
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: .25s ease;
}
.card-header > svg:hover{
    color: var(--dangerColor);
}

.actions{
    padding: 8px 20px;
    display: flex;
    gap:10px;
    justify-content: flex-end;
    align-items: center;
}
.actions > a > svg,
.actions > svg{
    padding: 5px;
    font-size: 24px;
    color: var(--blackColor) ;
    transition: .25s ease;
    cursor: pointer;
}
.actions > a > svg:hover,
.actions > svg:nth-child(1):hover{
    color: var(--primaryColor);
}
.actions > svg:nth-child(2):hover{
    color: var(--dangerColor);
}


.card label{
    color: var(--blackColor) !important;
}
.next-prev{
    background-color: var(--blackColor) !important;
}

.copyright > a {
    font-family: 'Montserret';
    color: var(--blackColor);
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}

.sidebar .sidebar-wrapper,
.sidebar{
    width: 200px !important;
}
.main-panel{
    width: calc(100% - 200px) !important;
}
/* .sidebar .sidebar-wrapper li.active>a:not([data-toggle=collapse]):before,
.sidebar .sidebar-wrapper li.active>a:not([data-toggle=collapse]):after{
    right: 45px !important;
} */

@media screen and (max-width: 991px){
    .main-panel{
        width: 100% !important;
    }
    .sidebar{
        width: 260px !important;
    }
}