:root{
    --blackColor: #252422;
    --logoColor: #deb843;
    --logoDarkColor: #cda93e;
    --primaryColor: #51cbce;
    --dangerColor: #f1926e;
    --successColor: #7ed6a5;
    --warningColor: #fccf71
}

.username{
    font-weight: 600;
    color: var(--logoColor) !important;
}

.btn{
    background-color: var(--logoColor) !important;
}
.btn:hover,
.btn:active{
    background-color: var(--logoDarkColor) !important;
}
.btn-danger{
    background-color: var(--dangerColor) !important;
}

.active,
.active > a > i{
    color: var(--logoColor) !important
}

.btn-primary{
    /* background-color: var(--blackColor) !important; */
    font-size: 10px !important;
}


thead{
    color: var(--logoColor) !important
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* for cross icon */
.card-header > svg{
    color: var(--blackColor);
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: .25s ease;
}
.card-header > svg:hover{
    color: var(--dangerColor);
}

.actions{
    padding: 8px 20px;
    display: flex;
    gap:10px;
    justify-content: flex-end;
    align-items: center;
}
.actions > a > svg,
.actions > svg{
    padding: 5px;
    font-size: 24px;
    color: var(--blackColor) ;
    transition: .25s ease;
    cursor: pointer;
}
.actions > a > svg:hover,
.actions > svg:nth-child(1):hover{
    color: var(--primaryColor);
}
.actions > svg:nth-child(2):hover{
    color: var(--dangerColor);
}


.card label{
    color: var(--blackColor) !important;
}
.next-prev{
    background-color: var(--blackColor) !important;
}

.copyright > a {
    font-family: 'Montserret';
    color: var(--blackColor);
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}

.sidebar .sidebar-wrapper,
.sidebar{
    width: 200px !important;
}
.main-panel{
    width: calc(100% - 200px) !important;
}
.logout{
    line-height: 0;
    padding: 0px !important;
    display: flex;
    gap: 5px;
    align-items: center;
}
.logout:hover{
    color: var(--primaryColor);
    cursor: pointer;
    text-decoration: underline;
}

.notification {
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding:5px 15px;
    overflow: hidden;
}
.notification:nth-of-type(1){
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.notification:nth-last-child(1){
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.notification > div > p {
    padding: 0px !important;
    margin: 0px !important;
    line-height: 12px;
}
.notification:hover {
    background-color: #66615B !important;
    color: white;
} 
.notification > a > svg{
    color: var(--blackColor);
    cursor: pointer;
}
/* .sidebar .sidebar-wrapper li.active>a:not([data-toggle=collapse]):before,
.sidebar .sidebar-wrapper li.active>a:not([data-toggle=collapse]):after{
    right: 45px !important;
} */

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: none; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.add-areas-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px !important;
    background-color: var(--blackColor) !important;
}

@media screen and (max-width: 991px){
    .main-panel{
        width: 100% !important;
    }
    .sidebar{
        width: 260px !important;
    }
}