label {
    font-size: 16px !important;
}
input[type="radio"] {
    width: 20px;
    height: 20px;
}
  
div > div > p{
    line-height: 0;
    padding: 15px 5px 0px;
}

textarea{
    resize: none;
    height: 100px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #66615b;
    line-height: normal;
    font-size: 14px;
    padding: 10px;
    transition: border-color 0.3s ease-in-out;
}
textarea:focus{
    border-color: #66615b;
}
