.label {
    font-size: 16px !important;
}
input[type="radio"] {
    width: 20px;
    height: 20px;
}
  
div > div > p{
    line-height: 0;
    padding: 15px 5px 0px;
}

textarea{
    resize: none;
    height: 100px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #66615b;
    line-height: normal;
    font-size: 14px;
    padding: 10px;
    transition: border-color 0.3s ease-in-out;
}
textarea:focus{
    border-color: #66615b;
}


/* lead detail */
.popup{
    position: absolute !important;
    padding: 0px !important;
}
.card-header{
    align-items: flex-start !important;
}
/* .card-title{
    margin-top: 0px !important;
} */
.card-title > p{
    font-size: 12px !important;
    margin: 0px !important;
    margin-top: -10px !important;
    text-transform: capitalize;
}
.name{
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-transform: capitalize;
}
.working-status,
.address{
    line-height: 0.5;
    padding: 0px 5px;
}
.lead-content{
    margin-top: 20px;
    background-color: #E3E3E3;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
input:read-only {
    background-color: white !important;
}
textarea:read-only{
    height: 70px !important;
    cursor: not-allowed;
}
.assign-lead{
    margin-top: 20px;
}
.card-header > a > svg{
    font-size: 40px;
    padding: 10px;
    color: black;
    transition: .25s ease;
}
.card-header > a > svg:hover{
    color: var(--primaryColor);
}

.comments-box{
    background-color: #E3E3E3;
    padding: 10px;
    border-radius: 10px;
}
.comment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#commented{
    height: 40px !important;
    max-height: 70px !important;
}
